@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
  scroll-behavior: smooth;
}

.playwrite{
    font-family: "Playwrite IN", serif;
}
.roboto{
    font-family: "Roboto", serif;
}

.stroke{
    color: black;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
  }


.button {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: linear-gradient(
      15deg,
      #ff0000,
      #d30000,
      #b60009,
      #990000,
      #6f0000,
      #990000,
      #b60009,
      #d30000,
      #ff0000
    )
    no-repeat;
  background-size: 300%;
  background-position: left center;
  transition: all 0.3s ease;
  color: #fff;
}

.button:hover {
  background-size: 320%;
  background-position: right center;
}

.gray-bg-button {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  border: none;
  cursor: pointer;
  background: linear-gradient(
      15deg,
      #1a1a1a,  /* Dark Gray */
      #333333,  /* Gray */
      #4d4d4d,  /* Medium Gray */
      #666666,  /* Light Gray */
      #808080,  /* Lighter Gray */
      #666666,  /* Light Gray */
      #4d4d4d,  /* Medium Gray */
      #333333,  /* Gray */
      #1a1a1a   /* Dark Gray */
    ) 
    no-repeat;
    background-size: 300%;
    background-position: left center;
    transition: all 0.3s ease;
    color: #fff;
}
.gray-bg-button:hover {
  background-size: 320%;
  background-position: right center;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hides scrollbar for WebKit browsers */
}